'.source.purescript':
  'editor':
    'autoIndentOnPaste': false
    'commentStart': '-- '
    'increaseIndentPattern': '(((=|\\bdo|\\bwhere|\\bthen|\\belse|\\bof)\\s*)|(\\bif(?!.*\\bthen\\b.*\\belse\\b.*).*))$'
